In [1]:
import openai
import os
import pandas as pd

In [5]:
# get string of the key
openai.api_key = os.getenv("OPENAI_API_KEY")

In [6]:
os.getenv("OPENAI_API_KEY")[0:3]

'sk-'

In [7]:
df = pd.read_csv('sales_data_sample.csv')
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,ORDERDATE,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME
0,10107,30,95.70,2871.00,2/24/2003 0:00,1,2,2003,Motorcycles,2125557818,897 Long Airport Avenue,NYC,NY,10022,USA,Yu,Kwai
1,10121,34,81.35,2765.90,5/7/2003 0:00,2,5,2003,Motorcycles,26.47.1555,59 rue de l'Abbaye,Reims,NaN,51100,France,Henriot,Paul
2,10134,41,94.74,3884.34,7/1/2003 0:00,3,7,2003,Motorcycles,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,NaN,75508,France,Da Cunha,Daniel
3,10145,45,83.26,3746.70,8/25/2003 0:00,3,8,2003,Motorcycles,6265557265,78934 Hillside Dr.,Pasadena,CA,90003,USA,Young,Julie
4,10159,49,100.00,5205.27,10/10/2003 0:00,4,10,2003,Motorcycles,6505551386,7734 Strong St.,San Francisco,CA,NaN,USA,Brown,Julie

In [8]:
df.groupby("QTR_ID").sum()['SALES']

C:\Users\manor\AppData\Local\Temp\ipykernel_6108\2501432.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("QTR_ID").sum()['SALES']

QTR_ID
1    2350817.73
2    2048120.30
3    1758910.81
4    3874780.01
Name: SALES, dtype: float64

In [10]:
# What was the total sum of sales per quarter?

In [11]:
from sqlalchemy import create_engine
from sqlalchemy import text

TEMP db in RAM

Push pandas df --> TEMP DB

SQL query on TEMP DB

In [12]:
temp_db = create_engine('sqlite:///:memory:',echo=True)

In [13]:
data = df.to_sql(name='Sales', con=temp_db)

2023-03-21 21:11:19,964 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-21 21:11:19,965 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Sales")
2023-03-21 21:11:19,966 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-21 21:11:19,968 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Sales")
2023-03-21 21:11:19,971 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-21 21:11:19,972 INFO sqlalchemy.engine.Engine ROLLBACK
2023-03-21 21:11:19,976 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-21 21:11:19,979 INFO sqlalchemy.engine.Engine
CREATE TABLE "Sales" (
	"index" BIGINT,
	"ORDERNUMBER" BIGINT,
	"QUANTITYORDERED" BIGINT,
	"PRICEEACH" FLOAT,
	"SALES" FLOAT,
	"ORDERDATE" TEXT,
	"QTR_ID" BIGINT,
	"MONTH_ID" BIGINT,
	"YEAR_ID" BIGINT,
	"PRODUCTLINE" TEXT,
	"PHONE" TEXT,
	"ADDRESSLINE1" TEXT,
	"CITY" TEXT,
	"STATE" TEXT,
	"POSTALCODE" TEXT,
	"COUNTRY" TEXT,
	"CONTACTLASTNAME" TEXT,
	"CONTACTFIRSTNAME" TEXT
)


2023-03-21 21:11:19,980 INFO sqlalchemy.engine.Engine [no key 0.00081s] ()
2023-03-21 21:11:19,982 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Sales_index" ON "Sales" ("index")
2023-03-21 21:11:19,983 INFO sqlalchemy.engine.Engine [no key 0.00089s] ()
2023-03-21 21:11:19,985 INFO sqlalchemy.engine.Engine COMMIT
2023-03-21 21:11:19,994 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-21 21:11:20,048 INFO sqlalchemy.engine.Engine INSERT INTO "Sales" ("index", "ORDERNUMBER", "QUANTITYORDERED", "PRICEEACH", "SALES", "ORDERDATE", "QTR_ID", "MONTH_ID", "YEAR_ID", "PRODUCTLINE", "PHONE", "ADDRESSLINE1", "CITY", "STATE", "POSTALCODE", "COUNTRY", "CONTACTLASTNAME", "CONTACTFIRSTNAME") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-03-21 21:11:20,050 INFO sqlalchemy.engine.Engine [generated in 0.04362s] [(0, 10107, 30, 95.7, 2871.0, '2/24/2003 0:00', 1, 2, 2003, 'Motorcycles', '2125557818', '897 Long Airport Avenue', 'NYC', 'NY', '10022', 'USA', 'Yu', 'Kwai'), (1, 10121, 34, 81.35, 2765.9, '5/7/2003 0:00', 2, 5, 2003, 'Motorcycles', '26.47.1555', "59 rue de l'Abbaye", 'Reims', None, '51100', 'France', 'Henriot', 'Paul'), (2, 10134, 41, 94.74, 3884.34, '7/1/2003 0:00', 3, 7, 2003, 'Motorcycles', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', 'Paris', None, '75508', 'France', 'Da Cunha', 'Daniel'), (3, 10145, 45, 83.26, 3746.7, '8/25/2003 0:00', 3, 8, 2003, 'Motorcycles', '6265557265', '78934 Hillside Dr.', 'Pasadena', 'CA', '90003', 'USA', 'Young', 'Julie'), (4, 10159, 49, 100.0, 5205.27, '10/10/2003 0:00', 4, 10, 2003, 'Motorcycles', '6505551386', '7734 Strong St.', 'San Francisco', 'CA', None, 'USA', 'Brown', 'Julie'), (5, 10168, 36, 96.66, 3479.76, '10/28/2003 0:00', 4, 10, 2003, 'Motorcycles', '6505556809', '9408 Furth Circle', 'Burlingame', 'CA', '94217', 'USA', 'Hirano', 'Juri'), (6, 10180, 29, 86.13, 2497.77, '11/11/2003 0:00', 4, 11, 2003, 'Motorcycles', '20.16.1555', '184, chausse de Tournai', 'Lille', None, '59000', 'France', 'Rance', 'Martine'), (7, 10188, 48, 100.0, 5512.32, '11/18/2003 0:00', 4, 11, 2003, 'Motorcycles', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', 'Bergen', None, 'N 5804', 'Norway', 'Oeztan', 'Veysel')  ... displaying 10 of 2823 total bound parameter sets ...  (2821, 10397, 34, 62.24, 2116.16, '3/28/2005 0:00', 1, 3, 2005, 'Ships', '61.77.6555', '1 rue Alsace-Lorraine', 'Toulouse', None, '31000', 'France', 'Roulet', 'Annette'), (2822, 10414, 47, 65.52, 3079.44, '5/6/2005 0:00', 2, 5, 2005, 'Ships', '6175559555', '8616 Spinnaker Dr.', 'Boston', 'MA', '51003', 'USA', 'Yoshido', 'Juri')]
2023-03-21 21:11:20,068 INFO sqlalchemy.engine.Engine COMMIT
2023-03-21 21:11:20,072 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-21 21:11:20,074 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2023-03-21 21:11:20,075 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-21 21:11:20,076 INFO sqlalchemy.engine.Engine ROLLBACK

In [14]:
with temp_db.connect() as conn:
    # makes the connection and we can run code within and automatically close conn
    result = conn.execute(text("SELECT * FROM Sales"))

2023-03-21 21:13:59,075 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-21 21:13:59,077 INFO sqlalchemy.engine.Engine SELECT * FROM Sales
2023-03-21 21:13:59,078 INFO sqlalchemy.engine.Engine [generated in 0.00357s] ()
2023-03-21 21:13:59,079 INFO sqlalchemy.engine.Engine ROLLBACK

In [15]:
result.all()

[(0, 10107, 30, 95.7, 2871.0, '2/24/2003 0:00', 1, 2, 2003, 'Motorcycles', '2125557818', '897 Long Airport Avenue', 'NYC', 'NY', '10022', 'USA', 'Yu', 'Kwai'),
 (1, 10121, 34, 81.35, 2765.9, '5/7/2003 0:00', 2, 5, 2003, 'Motorcycles', '26.47.1555', "59 rue de l'Abbaye", 'Reims', None, '51100', 'France', 'Henriot', 'Paul'),
 (2, 10134, 41, 94.74, 3884.34, '7/1/2003 0:00', 3, 7, 2003, 'Motorcycles', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', 'Paris', None, '75508', 'France', 'Da Cunha', 'Daniel'),
 (3, 10145, 45, 83.26, 3746.7, '8/25/2003 0:00', 3, 8, 2003, 'Motorcycles', '6265557265', '78934 Hillside Dr.', 'Pasadena', 'CA', '90003', 'USA', 'Young', 'Julie'),
 (4, 10159, 49, 100.0, 5205.27, '10/10/2003 0:00', 4, 10, 2003, 'Motorcycles', '6505551386', '7734 Strong St.', 'San Francisco', 'CA', None, 'USA', 'Brown', 'Julie'),
 (5, 10168, 36, 96.66, 3479.76, '10/28/2003 0:00', 4, 10, 2003, 'Motorcycles', '6505556809', '9408 Furth Circle', 'Burlingame', 'CA', '94217', 'USA', 'Hirano', 'Juri'),
 (6, 10180, 29, 86.13, 2497.77, '11/11/2003 0:00', 4, 11, 2003, 'Motorcycles', '20.16.1555', '184, chausse de Tournai', 'Lille', None, '59000', 'France', 'Rance', 'Martine'),
 (7, 10188, 48, 100.0, 5512.32, '11/18/2003 0:00', 4, 11, 2003, 'Motorcycles', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', 'Bergen', None, 'N 5804', 'Norway', 'Oeztan', 'Veysel'),
 (8, 10201, 22, 98.57, 2168.54, '12/1/2003 0:00', 4, 12, 2003, 'Motorcycles', '6505555787', '5557 North Pendale Street', 'San Francisco', 'CA', None, 'USA', 'Murphy', 'Julie'),
 (9, 10211, 41, 100.0, 4708.44, '1/15/2004 0:00', 1, 1, 2004, 'Motorcycles', '(1) 47.55.6555', '25, rue Lauriston', 'Paris', None, '75016', 'France', 'Perrier', 'Dominique'),
 (10, 10223, 37, 100.0, 3965.66, '2/20/2004 0:00', 1, 2, 2004, 'Motorcycles', '03 9520 4555', '636 St Kilda Road', 'Melbourne', 'Victoria', '3004', 'Australia', 'Ferguson', 'Peter'),
 (11, 10237, 23, 100.0, 2333.12, '4/5/2004 0:00', 2, 4, 2004, 'Motorcycles', '2125551500', '2678 Kingston Rd.', 'NYC', 'NY', '10022', 'USA', 'Frick', 'Michael'),
 (12, 10251, 28, 100.0, 3188.64, '5/18/2004 0:00', 2, 5, 2004, 'Motorcycles', '2015559350', '7476 Moss Rd.', 'Newark', 'NJ', '94019', 'USA', 'Brown', 'William'),
 (13, 10263, 34, 100.0, 3676.76, '6/28/2004 0:00', 2, 6, 2004, 'Motorcycles', '2035552570', '25593 South Bay Ln.', 'Bridgewater', 'CT', '97562', 'USA', 'King', 'Julie'),
 (14, 10275, 45, 92.83, 4177.35, '7/23/2004 0:00', 3, 7, 2004, 'Motorcycles', '40.67.8555', '67, rue des Cinquante Otages', 'Nantes', None, '44000', 'France', 'Labrune', 'Janine'),
 (15, 10285, 36, 100.0, 4099.68, '8/27/2004 0:00', 3, 8, 2004, 'Motorcycles', '6175558555', '39323 Spinnaker Dr.', 'Cambridge', 'MA', '51247', 'USA', 'Hernandez', 'Marta'),
 (16, 10299, 23, 100.0, 2597.39, '9/30/2004 0:00', 3, 9, 2004, 'Motorcycles', '90-224 8555', 'Keskuskatu 45', 'Helsinki', None, '21240', 'Finland', 'Karttunen', 'Matti'),
 (17, 10309, 41, 100.0, 4394.38, '10/15/2004 0:00', 4, 10, 2004, 'Motorcycles', '07-98 9555', 'Erling Skakkes gate 78', 'Stavern', None, '4110', 'Norway', 'Bergulfsen', 'Jonas'),
 (18, 10318, 46, 94.74, 4358.04, '11/2/2004 0:00', 4, 11, 2004, 'Motorcycles', '2155551555', '7586 Pompton St.', 'Allentown', 'PA', '70267', 'USA', 'Yu', 'Kyung'),
 (19, 10329, 42, 100.0, 4396.14, '11/15/2004 0:00', 4, 11, 2004, 'Motorcycles', '2125557818', '897 Long Airport Avenue', 'NYC', 'NY', '10022', 'USA', 'Yu', 'Kwai'),
 (20, 10341, 41, 100.0, 7737.93, '11/24/2004 0:00', 4, 11, 2004, 'Motorcycles', '6562-9555', 'Geislweg 14', 'Salzburg', None, '5020', 'Austria', 'Pipps', 'Georg'),
 (21, 10361, 20, 72.55, 1451.0, '12/17/2004 0:00', 4, 12, 2004, 'Motorcycles', '+61 2 9495 8555', 'Monitor Money Building, 815 Pacific Hwy', 'Chatswood', 'NSW', '2067', 'Australia', 'Huxley', 'Adrian'),
 (22, 10375, 21, 34.91, 733.11, '2/3/2005 0:00', 1, 2, 2005, 'Motorcycles', '40.67.8555', '67, rue des Cinquante Otages', 'Nantes', None, '44000', 'France', 'Labrune', 'Janine'),
 (23, 10388, 42, 76.36, 3207.12, '3/3/2005 0:00', 1, 3, 2005, 'Motorcycles', '5085552555', '1785 First Street', 'New Bedford', 'MA', '50553', 'USA', 'Benitez', 'Violeta'),
 (24, 10403, 24, 100.0, 2434.56, '4/8/2005 0:00', 2, 4, 2005, 'Motorcycles', '(171) 555-2282', 'Berkeley Gardens 12  Brewery', 'Liverpool', None, 'WX1 6LT', 'UK', 'Devon', 'Elizabeth'),
 (25, 10417, 66, 100.0, 7516.08, '5/13/2005 0:00', 2, 5, 2005, 'Motorcycles', '(91) 555 94 44', 'C/ Moralzarzal, 86', 'Madrid', None, '28034', 'Spain', 'Freyre', 'Diego'),
 (26, 10103, 26, 100.0, 5404.62, '1/29/2003 0:00', 1, 1, 2003, 'Classic Cars', '07-98 9555', 'Erling Skakkes gate 78', 'Stavern', None, '4110', 'Norway', 'Bergulfsen', 'Jonas'),
 (27, 10112, 29, 100.0, 7209.11, '3/24/2003 0:00', 1, 3, 2003, 'Classic Cars', '0921-12 3555', 'Berguvsv\x84gen  8', 'Lule', None, 'S-958 22', 'Sweden', 'Berglund', 'Christina'),
 (28, 10126, 38, 100.0, 7329.06, '5/28/2003 0:00', 2, 5, 2003, 'Classic Cars', '(91) 555 22 82', 'C/ Araquil, 67', 'Madrid', None, '28023', 'Spain', 'Sommer', 'Mart¡n'),
 (29, 10140, 37, 100.0, 7374.1, '7/24/2003 0:00', 3, 7, 2003, 'Classic Cars', '6505556809', '9408 Furth Circle', 'Burlingame', 'CA', '94217', 'USA', 'Hirano', 'Juri'),
 (30, 10150, 45, 100.0, 10993.5, '9/19/2003 0:00', 3, 9, 2003, 'Classic Cars', '+65 221 7555', 'Bronz Sok., Bronz Apt. 3/6 Tesvikiye', 'Singapore', None, '79903', 'Singapore', 'Natividad', 'Eric'),
 (31, 10163, 21, 100.0, 4860.24, '10/20/2003 0:00', 4, 10, 2003, 'Classic Cars', '2125558493', '5905 Pompton St.', 'NYC', 'NY', '10022', 'USA', 'Hernandez', 'Maria'),
 (32, 10174, 34, 100.0, 8014.82, '11/6/2003 0:00', 4, 11, 2003, 'Classic Cars', '61-7-3844-6555', '31 Duncan St. West End', 'South Brisbane', 'Queensland', '4101', 'Australia', 'Calaghan', 'Tony'),
 (33, 10183, 23, 100.0, 5372.57, '11/13/2003 0:00', 4, 11, 2003, 'Classic Cars', '2155554695', '782 First Street', 'Philadelphia', 'PA', '71270', 'USA', 'Cervantes', 'Francisca'),
 (34, 10194, 42, 100.0, 7290.36, '11/25/2003 0:00', 4, 11, 2003, 'Classic Cars', '78.32.5555', '2, rue du Commerce', 'Lyon', None, '69004', 'France', 'Saveley', 'Mary'),
 (35, 10206, 47, 100.0, 9064.89, '12/5/2003 0:00', 4, 12, 2003, 'Classic Cars', '(604) 555-3392', '1900 Oak St.', 'Vancouver', 'BC', 'V3F 2K1', 'Canada', 'Tannamuri', 'Yoshi'),
 (36, 10215, 35, 100.0, 6075.3, '1/29/2004 0:00', 1, 1, 2004, 'Classic Cars', '3105553722', '3675 Furth Circle', 'Burbank', 'CA', '94019', 'USA', 'Thompson', 'Steve'),
 (37, 10228, 29, 100.0, 6463.23, '3/10/2004 0:00', 1, 3, 2004, 'Classic Cars', '6175555555', '4658 Baden Av.', 'Cambridge', 'MA', '51247', 'USA', 'Tseng', 'Kyung'),
 (38, 10245, 34, 100.0, 6120.34, '5/4/2004 0:00', 2, 5, 2004, 'Classic Cars', '2035559545', '567 North Pendale Street', 'New Haven', 'CT', '97823', 'USA', 'Murphy', 'Leslie'),
 (39, 10258, 32, 100.0, 7680.64, '6/15/2004 0:00', 2, 6, 2004, 'Classic Cars', '+81 3 3584 0555', '2-2-8 Roppongi', 'Minato-ku', 'Tokyo', '106-0032', 'Japan', 'Shimamura', 'Akiko'),
 (40, 10270, 21, 100.0, 4905.39, '7/19/2004 0:00', 3, 7, 2004, 'Classic Cars', '+61 2 9495 8555', 'Monitor Money Building, 815 Pacific Hwy', 'Chatswood', 'NSW', '2067', 'Australia', 'Huxley', 'Adrian'),
 (41, 10280, 34, 100.0, 8014.82, '8/17/2004 0:00', 3, 8, 2004, 'Classic Cars', '011-4988555', 'Via Monte Bianco 34', 'Torino', None, '10100', 'Italy', 'Accorti', 'Paolo'),
 (42, 10291, 37, 100.0, 7136.19, '9/8/2004 0:00', 3, 9, 2004, 'Classic Cars', '0695-34 6555', '?kergatan 24', 'Boras', None, 'S-844 67', 'Sweden', 'Larsson', 'Maria'),
 (43, 10304, 47, 100.0, 10172.7, '10/11/2004 0:00', 4, 10, 2004, 'Classic Cars', '30.59.8555', "67, avenue de l'Europe", 'Versailles', None, '78000', 'France', 'Tonini', 'Daniel'),
 (44, 10312, 48, 100.0, 11623.7, '10/21/2004 0:00', 4, 10, 2004, 'Classic Cars', '4155551450', '5677 Strong St.', 'San Rafael', 'CA', '97562', 'USA', 'Nelson', 'Valarie'),
 (45, 10322, 40, 100.0, 6000.4, '11/4/2004 0:00', 4, 11, 2004, 'Classic Cars', '6035558647', '2304 Long Airport Avenue', 'Nashua', 'NH', '62005', 'USA', 'Young', 'Valarie'),
 (46, 10333, 26, 100.0, 3003.0, '11/18/2004 0:00', 4, 11, 2004, 'Classic Cars', '6505555787', '5557 North Pendale Street', 'San Francisco', 'CA', None, 'USA', 'Murphy', 'Julie'),
 (47, 10347, 30, 100.0, 3944.7, '11/29/2004 0:00', 4, 11, 2004, 'Classic Cars', '03 9520 4555', '636 St Kilda Road', 'Melbourne', 'Victoria', '3004', 'Australia', 'Ferguson', 'Peter'),
 (48, 10357, 32, 100.0, 5691.84, '12/10/2004 0:00', 4, 12, 2004, 'Classic Cars', '4155551450', '5677 Strong St.', 'San Rafael', 'CA', '97562', 'USA', 'Nelson', 'Valarie'),
 (49, 10369, 41, 100.0, 4514.92, '1/20/2005 0:00', 1, 1, 2005, 'Classic Cars', '6175558555', '7825 Douglas Av.', 'Brickhaven', 'MA', '58339', 'USA', 'Nelson', 'Allen'),
 (50, 10381, 36, 100.0, 8254.8, '2/17/2005 0:00', 1, 2, 2005, 'Classic Cars', '6505551386', '7734 Strong St.', 'San Francisco', 'CA', None, 'USA', 'Brown', 'Julie'),
 (51, 10391, 24, 100.0, 2416.56, '3/9/2005 0:00', 1, 3, 2005, 'Classic Cars', '02 9936 8555', '201 Miller Street', 'North Sydney', 'NSW', '2060', 'Australia', "O'Hara", 'Anna'),
 (52, 10411, 23, 100.0, 4140.23, '5/1/2005 0:00', 2, 5, 2005, 'Classic Cars', '(514) 555-8054', '43 rue St. Laurent', 'Montreal', 'Quebec', 'H1J 1C3', 'Canada', 'Fresnisre', 'Jean'),
 (53, 10424, 50, 100.0, 12001.0, '5/31/2005 0:00', 2, 5, 2005, 'Classic Cars', '(91) 555 94 44', 'C/ Moralzarzal, 86', 'Madrid', None, '28034', 'Spain', 'Freyre', 'Diego'),
 (54, 10107, 39, 99.91, 3896.49, '2/24/2003 0:00', 1, 2, 2003, 'Motorcycles', '2125557818', '897 Long Airport Avenue', 'NYC', 'NY', '10022', 'USA', 'Yu', 'Kwai'),
 (55, 10120, 29, 96.34, 2793.86, '4/29/2003 0:00', 2, 4, 2003, 'Motorcycles', '03 9520 4555', '636 St Kilda Road', 'Melbourne', 'Victoria', '3004', 'Australia', 'Ferguson', 'Peter'),
 (56, 10134, 27, 100.0, 3307.77, '7/1/2003 0:00', 3, 7, 2003, 'Motorcycles', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', 'Paris', None, '75508', 'France', 'Da Cunha', 'Daniel'),
 (57, 10145, 37, 100.0, 5192.95, '8/25/2003 0:00', 3, 8, 2003, 'Motorcycles', '6265557265', '78934 Hillside Dr.', 'Pasadena', 'CA', '90003', 'USA', 'Young', 'Julie'),
 (58, 10159, 37, 100.0, 5016.83, '10/10/2003 0:00', 4, 10, 2003, 'Motorcycles', '6505551386', '7734 Strong St.', 'San Francisco', 'CA', None, 'USA', 'Brown', 'Julie'),
 (59, 10168, 27, 100.0, 3660.93, '10/28/2003 0:00', 4, 10, 2003, 'Motorcycles', '6505556809', '9408 Furth Circle', 'Burlingame', 'CA', '94217', 'USA', 'Hirano', 'Juri'),
 (60, 10180, 42, 100.0, 4695.6, '11/11/2003 0:00', 4, 11, 2003, 'Motorcycles', '20.16.1555', '184, chausse de Tournai', 'Lille', None, '59000', 'France', 'Rance', 'Martine'),
 (61, 10188, 38, 96.34, 3660.92, '11/18/2003 0:00', 4, 11, 2003, 'Motorcycles', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', 'Bergen', None, 'N 5804', 'Norway', 'Oeztan', 'Veysel'),
 (62, 10201, 24, 100.0, 3025.92, '12/1/2003 0:00', 4, 12, 2003, 'Motorcycles', '6505555787', '5557 North Pendale Street', 'San Francisco', 'CA', None, 'USA', 'Murphy', 'Julie'),
 (63, 10210, 23, 100.0, 3009.09, '1/12/2004 0:00', 1, 1, 2004, 'Motorcycles', '+81 06 6342 5555', 'Dojima Avanza 4F, 1-6-20 Dojima, Kita-ku', 'Osaka', 'Osaka', '530-0003', 'Japan', 'Kentary', 'Mory'),
 (64, 10223, 47, 100.0, 5422.39, '2/20/2004 0:00', 1, 2, 2004, 'Motorcycles', '03 9520 4555', '636 St Kilda Road', 'Melbourne', 'Victoria', '3004', 'Australia', 'Ferguson', 'Peter'),
 (65, 10236, 22, 100.0, 2852.08, '4/3/2004 0:00', 2, 4, 2004, 'Motorcycles', '2155559857', '11328 Douglas Av.', 'Philadelphia', 'PA', '71270', 'USA', 'Hernandez', 'Rosa'),
 (66, 10251, 44, 100.0, 5756.52, '5/18/2004 0:00', 2, 5, 2004, 'Motorcycles', '2015559350', '7476 Moss Rd.', 'Newark', 'NJ', '94019', 'USA', 'Brown', 'William'),
 (67, 10263, 40, 100.0, 4472.0, '6/28/2004 0:00', 2, 6, 2004, 'Motorcycles', '2035552570', '25593 South Bay Ln.', 'Bridgewater', 'CT', '97562', 'USA', 'King', 'Julie'),
 (68, 10275, 22, 100.0, 2904.44, '7/23/2004 0:00', 3, 7, 2004, 'Motorcycles', '40.67.8555', '67, rue des Cinquante Otages', 'Nantes', None, '44000', 'France', 'Labrune', 'Janine'),
 (69, 10285, 47, 100.0, 6484.59, '8/27/2004 0:00', 3, 8, 2004, 'Motorcycles', '6175558555', '39323 Spinnaker Dr.', 'Cambridge', 'MA', '51247', 'USA', 'Hernandez', 'Marta'),
 (70, 10298, 39, 96.34, 3757.26, '9/27/2004 0:00', 3, 9, 2004, 'Motorcycles', '40.32.2555', '54, rue Royale', 'Nantes', None, '44000', 'France', 'Schmitt', 'Carine'),
 (71, 10308, 34, 100.0, 4043.96, '10/15/2004 0:00', 4, 10, 2004, 'Motorcycles', '9145554562', '3758 North Pendale Street', 'White Plains', 'NY', '24067', 'USA', 'Frick', 'Steve'),
 (72, 10318, 45, 100.0, 5566.5, '11/2/2004 0:00', 4, 11, 2004, 'Motorcycles', '2155551555', '7586 Pompton St.', 'Allentown', 'PA', '70267', 'USA', 'Yu', 'Kyung'),
 (73, 10329, 20, 100.0, 3176.0, '11/15/2004 0:00', 4, 11, 2004, 'Motorcycles', '2125557818', '897 Long Airport Avenue', 'NYC', 'NY', '10022', 'USA', 'Yu', 'Kwai'),
 (74, 10339, 40, 68.92, 2756.8, '11/23/2004 0:00', 4, 11, 2004, 'Motorcycles', '+81 3 3584 0555', '2-2-8 Roppongi', 'Minato-ku', 'Tokyo', '106-0032', 'Japan', 'Shimamura', 'Akiko'),
 (75, 10361, 26, 51.15, 1329.9, '12/17/2004 0:00', 4, 12, 2004, 'Motorcycles', '+61 2 9495 8555', 'Monitor Money Building, 815 Pacific Hwy', 'Chatswood', 'NSW', '2067', 'Australia', 'Huxley', 'Adrian'),
 (76, 10374, 39, 100.0, 5288.01, '2/2/2005 0:00', 1, 2, 2005, 'Motorcycles', '61-7-3844-6555', '31 Duncan St. West End', 'South Brisbane', 'Queensland', '4101', 'Australia', 'Calaghan', 'Tony'),
 (77, 10388, 50, 44.51, 2225.5, '3/3/2005 0:00', 1, 3, 2005, 'Motorcycles', '5085552555', '1785 First Street', 'New Bedford', 'MA', '50553', 'USA', 'Benitez', 'Violeta'),
 (78, 10402, 45, 100.0, 5833.8, '4/7/2005 0:00', 2, 4, 2005, 'Motorcycles', '(1) 47.55.6555', '25, rue Lauriston', 'Paris', None, '75016', 'France', 'Perrier', 'Dominique'),
 (79, 10417, 45, 100.0, 5887.35, '5/13/2005 0:00', 2, 5, 2005, 'Motorcycles', '(91) 555 94 44', 'C/ Moralzarzal, 86', 'Madrid', None, '28034', 'Spain', 'Freyre', 'Diego'),
 (80, 10107, 27, 100.0, 6065.55, '2/24/2003 0:00', 1, 2, 2003, 'Motorcycles', '2125557818', '897 Long Airport Avenue', 'NYC', 'NY', '10022', 'USA', 'Yu', 'Kwai'),
 (81, 10120, 46, 100.0, 9264.86, '4/29/2003 0:00', 2, 4, 2003, 'Motorcycles', '03 9520 4555', '636 St Kilda Road', 'Melbourne', 'Victoria', '3004', 'Australia', 'Ferguson', 'Peter'),
 (82, 10134, 31, 100.0, 7023.98, '7/1/2003 0:00', 3, 7, 2003, 'Motorcycles', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', 'Paris', None, '75508', 'France', 'Da Cunha', 'Daniel'),
 (83, 10145, 33, 100.0, 5176.38, '8/25/2003 0:00', 3, 8, 2003, 'Motorcycles', '6265557265', '78934 Hillside Dr.', 'Pasadena', 'CA', '90003', 'USA', 'Young', 'Julie'),
 (84, 10159, 22, 100.0, 4132.7, '10/10/2003 0:00', 4, 10, 2003, 'Motorcycles', '6505551386', '7734 Strong St.', 'San Francisco', 'CA', None, 'USA', 'Brown', 'Julie'),
 (85, 10168, 20, 100.0, 4183.0, '10/28/2003 0:00', 4, 10, 2003, 'Motorcycles', '6505556809', '9408 Furth Circle', 'Burlingame', 'CA', '94217', 'USA', 'Hirano', 'Juri'),
 (86, 10180, 41, 100.0, 8892.9, '11/11/2003 0:00', 4, 11, 2003, 'Motorcycles', '20.16.1555', '184, chausse de Tournai', 'Lille', None, '59000', 'France', 'Rance', 'Martine'),
 (87, 10188, 45, 100.0, 8714.7, '11/18/2003 0:00', 4, 11, 2003, 'Motorcycles', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', 'Bergen', None, 'N 5804', 'Norway', 'Oeztan', 'Veysel'),
 (88, 10201, 49, 100.0, 8065.89, '12/1/2003 0:00', 4, 12, 2003, 'Motorcycles', '6505555787', '5557 North Pendale Street', 'San Francisco', 'CA', None, 'USA', 'Murphy', 'Julie'),
 (89, 10210, 34, 100.0, 6123.4, '1/12/2004 0:00', 1, 1, 2004, 'Motorcycles', '+81 06 6342 5555', 'Dojima Avanza 4F, 1-6-20 Dojima, Kita-ku', 'Osaka', 'Osaka', '530-0003', 'Japan', 'Kentary', 'Mory'),
 (90, 10223, 49, 100.0, 9774.03, '2/20/2004 0:00', 1, 2, 2004, 'Motorcycles', '03 9520 4555', '636 St Kilda Road', 'Melbourne', 'Victoria', '3004', 'Australia', 'Ferguson', 'Peter'),
 (91, 10237, 39, 100.0, 7023.9, '4/5/2004 0:00', 2, 4, 2004, 'Motorcycles', '2125551500', '2678 Kingston Rd.', 'NYC', 'NY', '10022', 'USA', 'Frick', 'Michael'),
 (92, 10251, 43, 100.0, 7078.23, '5/18/2004 0:00', 2, 5, 2004, 'Motorcycles', '2015559350', '7476 Moss Rd.', 'Newark', 'NJ', '94019', 'USA', 'Brown', 'William'),
 (93, 10263, 41, 100.0, 8336.94, '6/28/2004 0:00', 2, 6, 2004, 'Motorcycles', '2035552570', '25593 South Bay Ln.', 'Bridgewater', 'CT', '97562', 'USA', 'King', 'Julie'),
 (94, 10275, 36, 100.0, 6901.92, '7/23/2004 0:00', 3, 7, 2004, 'Motorcycles', '40.67.8555', '67, rue des Cinquante Otages', 'Nantes', None, '44000', 'France', 'Labrune', 'Janine'),
 (95, 10285, 27, 100.0, 5438.07, '8/27/2004 0:00', 3, 8, 2004, 'Motorcycles', '6175558555', '39323 Spinnaker Dr.', 'Cambridge', 'MA', '51247', 'USA', 'Hernandez', 'Marta'),
 (96, 10299, 29, 100.0, 6683.34, '9/30/2004 0:00', 3, 9, 2004, 'Motorcycles', '90-224 8555', 'Keskuskatu 45', 'Helsinki', None, '21240', 'Finland', 'Karttunen', 'Matti'),
 (97, 10308, 20, 100.0, 4570.4, '10/15/2004 0:00', 4, 10, 2004, 'Motorcycles', '9145554562', '3758 North Pendale Street', 'White Plains', 'NY', '24067', 'USA', 'Frick', 'Steve'),
 (98, 10318, 37, 100.0, 7667.14, '11/2/2004 0:00', 4, 11, 2004, 'Motorcycles', '2155551555', '7586 Pompton St.', 'Allentown', 'PA', '70267', 'USA', 'Yu', 'Kyung'),
 (99, 10329, 26, 100.0, 5868.2, '11/15/2004 0:00', 4, 11, 2004, 'Motorcycles', '2125557818', '897 Long Airport Avenue', 'NYC', 'NY', '10022', 'USA', 'Yu', 'Kwai'),
 (100, 10339, 39, 76.67, 2990.13, '11/23/2004 0:00', 4, 11, 2004, 'Motorcycles', '+81 3 3584 0555', '2-2-8 Roppongi', 'Minato-ku', 'Tokyo', '106-0032', 'Japan', 'Shimamura', 'Akiko'),
 (101, 10362, 22, 100.0, 3664.1, '1/5/2005 0:00', 1, 1, 2005, 'Motorcycles', '6505556809', '9408 Furth Circle', 'Burlingame', 'CA', '94217', 'USA', 'Hirano', 'Juri'),
 (102, 10374, 22, 100.0, 3834.38, '2/2/2005 0:00', 1, 2, 2005, 'Motorcycles', '61-7-3844-6555', '31 Duncan St. West End', 'South Brisbane', 'Queensland', '4101', 'Australia', 'Calaghan', 'Tony'),
 (103, 10388, 21, 86.77, 1822.17, '3/3/2005 0:00', 1, 3, 2005, 'Motorcycles', '5085552555', '1785 First Street', 'New Bedford', 'MA', '50553', 'USA', 'Benitez', 'Violeta'),
 (104, 10403, 66, 100.0, 11886.6, '4/8/2005 0:00', 2, 4, 2005, 'Motorcycles', '(171) 555-2282', 'Berkeley Gardens 12  Brewery', 'Liverpool', None, 'WX1 6LT', 'UK', 'Devon', 'Elizabeth'),
 (105, 10417, 56, 100.0, 9218.16, '5/13/2005 0:00', 2, 5, 2005, 'Motorcycles', '(91) 555 94 44', 'C/ Moralzarzal, 86', 'Madrid', None, '28034', 'Spain', 'Freyre', 'Diego'),
 (106, 10105, 50, 100.0, 7208.0, '2/11/2003 0:00', 1, 2, 2003, 'Classic Cars', '31 12 3555', "Vinb'ltet 34", 'Kobenhavn', None, '1734', 'Denmark', 'Petersen', 'Jytte'),
 (107, 10119, 46, 100.0, 5004.8, '4/28/2003 0:00', 2, 4, 2003, 'Classic Cars', '6562-9555', 'Geislweg 14', 'Salzburg', None, '5020', 'Austria', 'Pipps', 'Georg'),
 (108, 10129, 33, 100.0, 4398.24, '6/12/2003 0:00', 2, 6, 2003, 'Classic Cars', '(171) 555-0297', '35 King George', 'London', None, 'WX3 6FW', 'UK', 'Brown', 'Ann'),
 (109, 10143, 49, 100.0, 5597.76, '8/10/2003 0:00', 3, 8, 2003, 'Classic Cars', '5085559555', '4575 Hillside Dr.', 'New Bedford', 'MA', '50553', 'USA', 'Tam', 'Wing C'),
 (110, 10155, 32, 100.0, 4526.08, '10/6/2003 0:00', 4, 10, 2003, 'Classic Cars', '90-224 8555', 'Keskuskatu 45', 'Helsinki', None, '21240', 'Finland', 'Karttunen', 'Matti'),
 (111, 10167, 44, 100.0, 5924.16, '10/23/2003 0:00', 4, 10, 2003, 'Classic Cars', '0695-34 6555', '?kergatan 24', 'Boras', None, 'S-844 67', 'Sweden', 'Larsson', 'Maria'),
 (112, 10178, 24, 100.0, 3492.48, '11/8/2003 0:00', 4, 11, 2003, 'Classic Cars', '61.77.6555', '1 rue Alsace-Lorraine', 'Toulouse', None, '31000', 'France', 'Roulet', 'Annette'),
 (113, 10186, 26, 100.0, 3854.24, '11/14/2003 0:00', 4, 11, 2003, 'Classic Cars', '(171) 555-7555', '120 Hanover Sq.', 'London', None, 'WA1 1DP', 'UK', 'Hardy', 'Thomas'),

In [16]:
with temp_db.connect() as conn:
    # makes the connection and we can run code within and automatically close conn
    result = conn.execute(text("SELECT SUM(SALES) FROM Sales"))

2023-03-21 21:14:40,518 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-21 21:14:40,519 INFO sqlalchemy.engine.Engine SELECT SUM(SALES) FROM Sales
2023-03-21 21:14:40,520 INFO sqlalchemy.engine.Engine [generated in 0.00250s] ()
2023-03-21 21:14:40,526 INFO sqlalchemy.engine.Engine ROLLBACK

In [18]:
result.all()

[(10032628.85000001,)]

In [20]:
def create_table_definition(df):
    # setup prompt
    prompt = """### sqlite SQL table, with it properties:
    #
    # Sales({})
    #
    """.format(",".join(str(col) for col in df.columns))

    return prompt

In [22]:
print(create_table_definition(df))

### sqlite SQL table, with it properties:
    #
    # Sales(ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,ORDERDATE,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME)
    #

In [25]:
def prompt_input():
    nlp_text = input("Enter the info you want: ")
    return nlp_text

In [26]:
prompt_input()

'grab all sales per quater'

In [27]:
# combine results into single function

def combine_prompts(df,query_prompt):
    definition = create_table_definition(df)
    query_init_string = f"### A query to answer: {query_prompt}\nSELECT"
    return definition + query_init_string

In [28]:
nlp_text = prompt_input()   #NLP
combine_prompts(df, nlp_text)   # DF + query that does.... + NLP

'### sqlite SQL table, with it properties:\n    #\n    # Sales(ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,ORDERDATE,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME)\n    #\n    ### A query to answer: query to answer total sales per quarter\nSELECT'

OpenAI Completion Call Parameters

- Model

- Prompt

- Temperature

- Max Tokens

- Top P

- N

- Frequency Penalty

- Presence Penalty

In [29]:
response = openai.Completion.create(
    model = 'code-davinci-002',
    prompt = combine_prompts(df,nlp_text),
    temperature = 0,
    max_tokens = 150,
    top_p = 1.0,
    frequency_penalty = 0,
    presence_penalty = 0,
    stop = ['#',';']
)

In [30]:
response

<OpenAIObject text_completion id=cmpl-6wi5c6m0Gq88qR9DK8E4j45LORv6V at 0x21aa5133f40> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "logprobs": null,
      "text": " QTR_ID, SUM(SALES) AS TOTAL_SALES\nFROM Sales\nGROUP BY QTR_ID\nORDER BY QTR_ID"
    }
  ],
  "created": 1679450524,
  "id": "cmpl-6wi5c6m0Gq88qR9DK8E4j45LORv6V",
  "model": "code-davinci-002",
  "object": "text_completion",
  "usage": {
    "completion_tokens": 36,
    "prompt_tokens": 119,
    "total_tokens": 155
  }
}

In [31]:
response['choices'][0]['text']

' QTR_ID, SUM(SALES) AS TOTAL_SALES\nFROM Sales\nGROUP BY QTR_ID\nORDER BY QTR_ID'

In [32]:
def handle_response(response):
    query = response['choices'][0]['text']
    if query.startswith(" "):
        query = "SELECT" + query
    return query

In [33]:
handle_response(response)

'SELECT QTR_ID, SUM(SALES) AS TOTAL_SALES\nFROM Sales\nGROUP BY QTR_ID\nORDER BY QTR_ID'

In [34]:
with temp_db.connect() as conn:
    result = conn.execute(text(handle_response(response)))

2023-03-21 22:06:02,198 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-21 22:06:02,200 INFO sqlalchemy.engine.Engine SELECT QTR_ID, SUM(SALES) AS TOTAL_SALES
FROM Sales
GROUP BY QTR_ID
ORDER BY QTR_ID
2023-03-21 22:06:02,200 INFO sqlalchemy.engine.Engine [generated in 0.00208s] ()
2023-03-21 22:06:02,203 INFO sqlalchemy.engine.Engine ROLLBACK

In [35]:
result.all()

[(1, 2350817.7300000004),
 (2, 2048120.2999999986),
 (3, 1758910.8099999994),
 (4, 3874780.01)]